.varitiesCard {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    margin: 10px;
    margin-left: 70px;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, .08);
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.varitiesImg {
    width: 140px;
        height: 140px;
    padding: 15px;
    border-radius: 5px;
}

@media screen and (max-width: 720px) {

    .varitiesCard {
        margin-left: 20px;
        margin-bottom: 100px;

    }
}