.buscadorPokemon {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

input,
select {
    display: flex;
    width: 400px;
    height: 30px;
    border: 1px solid #ebda6a;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    background: #ebda6a;
}


.pokemonList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
    

