.pokelogo {
    display: flex;
    margin: 0 auto;
    padding-top: 50px;
    margin-bottom: 50px;
    -webkit-filter: drop-shadow(5px 0px 0px rgba(0, 0, 0, 0.6));    
    -webkit-filter: drop-shadow(5px 0px 0px rgba(0, 0, 0, 0.6));
    filter: drop-shadow(5px 0px 0px rgba(0, 0, 0, 0.6));
}

@media only screen and (max-width: 720px) {
    .pokelogo {
        width: auto;
        height: auto;
        max-width: 300px;
        max-height: 300px;
    }
};  