* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
    font-family: 'pokemon';


}



@font-face {
    font-family: "pokemon";
    src: url("../src/public/assets/fonts/BarcadeBrawl.ttf") format("truetype"); 
}
